<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>first</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyServlet</display-name>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyServlet</servlet-name>
    <url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteEligibility</display-name>
    <servlet-name>VoteEligibility</servlet-name>
    <servlet-class>VoteEligibility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteEligibility</servlet-name>
    <url-pattern>/VoteEligibility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForm</display-name>
    <servlet-name>LoginForm</servlet-name>
    <servlet-class>LoginForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForm</servlet-name>
    <url-pattern>/LoginForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resultServlet</display-name>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>resultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowParameters</display-name>
    <servlet-name>ShowParameters</servlet-name>
    <servlet-class>ShowParameters</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowParameters</servlet-name>
    <url-pattern>/ShowParameters</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TokenServlet</display-name>
    <servlet-name>TokenServlet</servlet-name>
    <servlet-class>TokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TokenServlet</servlet-name>
    <url-pattern>/TokenServlet</url-pattern>
  </servlet-mapping>
</web-app>